---
export interface Props {
  title: string;
  imgSrc: string;
  imgAlt: string;
  description: string;
  githubLink: string;
  projectLink: string;
  tags: string[]; // Añadido para manejar las etiquetas
}
import AButton from "./AButton.astro";
import Tags from "./Tags.astro";
const { title, imgSrc, imgAlt, description, githubLink, tags, projectLink } = Astro.props;
---

<!-- Enlace envolviendo solo la imagen y el contenido -->
<a 
  href={projectLink} 
  target="_blank" 
  class="bg-card-background h-auto w-full max-w-4xl mx-auto border-[3px] border-card-border rounded-xl grid md:grid-cols-2 transition-transform duration-300 transform hover:scale-[1.02] cursor-pointer no-underline group"
>
  <!-- Imagen a la izquierda -->
  <img src={imgSrc} alt={imgAlt} class="w-full h-80 object-cover rounded-md bg-cover mx-auto md:mx-0" />

  <!-- Contenido a la derecha -->
  <div class="p-4 flex flex-col justify-between space-y-4">
    <div class="font-medium text-ellipsis">
      <!-- Título y logo juntos en línea -->
      <h2 class="text-2xl md:text-4xl flex items-center underline text-text-secondary transition-colors duration-300 group-hover:text-text-primary mb-2">
        {title} 
        <svg class="inline-block ml-2 w-8 h-8 text-text-secondary group-hover:text-text-primary" stroke="#fff" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="ml-2" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="m13 3 3.293 3.293-7 7 1.414 1.414 7-7L21 11V3z"></path><path d="M19 19H5V5h7l-2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2v-5l-2-2v7z"></path></svg>
      </h2>
      <p class="text-text-secondary mb-4">{description}</p>
    </div>
        <!-- Etiquetas -->
    <ul class="flex flex-wrap gap-2 mb-4">
      {tags.map(tag => (
        <Tags tag={tag} />
      ))}
    </ul>
  </div>
</a>
<div class="mb-8 mt-2">
  <AButton 
  src="/logos/github.png" 
  alt="Github Logo" 
  href={githubLink} 
  buttonName="Código Fuente" 
  />
</div>